@model DataModel.Library.ReviewModel
@{
    ViewBag.Title = "CreateReview";
}

@{
    Layout = null; // To remove the default layout
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Review</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- Additional CSS for custom styles -->
  
    <style>

        body {
    
            background-image: url('../../Images/Interview_App_1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        .register-box {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
            padding: 20px;
            border-radius: 10px;
            background-color: #ffffff; /* White background */
            margin-top:5%;
        }
      /*  .rating {
            unicode-bidi: bidi-override;
            direction: rtl;
            font-size: 24px;
        }

            .rating > span {
                display: inline-block;
                position: relative;
                width: 1.1em;
            }

                .rating > span:hover:before,
                .rating > span:hover ~ span:before {
                    content: "\2605";
                    position: absolute;
                }

                .rating > span:hover:before {
                    color: gold;
                }

                .rating > span:before {
                    content: "\2606";
                    position: absolute;
                }*/
        .rating > span {
            display: inline-block;
            position: relative;
            font-size: 24px; /* Adjust the font size to make the stars bigger */
            cursor: pointer; /* Add cursor pointer for better UX */
        }

            .rating > span:hover:before,
            .rating > span.selected:before {
                content: "\2605";
                position: absolute;
                color: gold; /* Change color to gold for selected stars */
            }

            .rating > span:hover:before {
                color: silver; /* Change color to silver for hovered stars */
            }

            .rating > span:before {
                content: "\2606";
                position: absolute;
                color: silver; /* Set default color to silver for unselected stars */
            }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Interview Preparation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("LogOut","Login")">
                        <i class="fas fa-sign-out-alt"></i> Log Out
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container mt-4">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="register-box">
                    <h2 class="text-center">Add Review</h2>
                    @using (Html.BeginForm("CreateReview", "Review", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.HiddenFor(model => model.ReviewId, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="rating">
                                <span><i class="far fa-star" data-value="1"></i></span>
                                <span><i class="far fa-star" data-value="2"></i></span>
                                <span><i class="far fa-star" data-value="3"></i></span>
                                <span><i class="far fa-star" data-value="4"></i></span>
                                <span><i class="far fa-star" data-value="5"></i></span>
                                @Html.HiddenFor(model => model.Rating, new { @id = "selectedRating" }) <!-- Hidden field to store selected rating -->
                            </div>
                            @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                        </div>





                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Add Review</button>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @* <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        //$(document).ready(function () {
        //    $('.rating > span').click(function () {
        //        var value = $(this).find('i').data('value');
        //        $('#selectedRating').val(value);
        //        $(this).siblings().find('i').removeClass('fas').addClass('far').css('color', ''); // Reset all stars
        //        $(this).prevAll().addBack().find('i').removeClass('far').addClass('fas').css('color', 'gold'); // Highlight selected stars
        //    });
        //});




        $(document).ready(function () {
            $('.rating > span').click(function () {
                var value = $(this).find('i').data('value');
                $('#selectedRating').val(value);
                $(this).addClass('selected').prevAll().addClass('selected');
                $(this).nextAll().removeClass('selected');
            });

        });


    </script>


    


</body>
</html>

