@model IEnumerable<DataModel.Library.UserModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include DataTables Responsive CSS -->
    <link href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" rel="stylesheet">

</head>
<body>
    <table id="promotionsTable" class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserStatusId)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.LinkedInUrl)
                </th>

                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserStatusId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.LinkedInUrl)
                    </td>

                    <td>
                        <a href="@Url.Action("UpdatePromotionApproval", "Admin", new { UserId = item.UserId })" class="btn btn-success" title="Approve">
                            <i class="fas fa-edit"></i> Approve
                        </a>
                        
                        <a href="@Url.Action("UpdateRejection","Admin", new { UserId = item.UserId })" class="btn btn-danger" title="Reject ">
                            <i class="fas fa-trash-alt"></i> Reject
                        </a>
                    </td>
                </tr>
            </tbody>

        }

    </table>
</body>
<!-- Your HTML code -->
<!-- Include DataTables CSS -->
<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">

<!-- Include DataTables JS -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<!-- Your HTML code continues -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script>
    var $j = jQuery.noConflict(); // Use $j instead of $ to avoid conflicts

    $j(document).ready(function () {
        $j('#promotionsTable').DataTable({
            responsive: true
        });
    });
</script>