@model IEnumerable<DataModel.Library.UserModel>

@{
    ViewBag.Title = "AllUserList";
}

<h2>AllUserList</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $(".password-placeholder").click(function () {
            var $passwordText = $(this).next(".password-text");
            $passwordText.show(); // Show the password text

            // Hide the password text after 10 seconds
            setTimeout(function () {
                $passwordText.hide(); // Hide the password text
            }, 4000); // 4000 milliseconds = 4 seconds
        });
        var message = '@TempData["Message"]';
        if (message) {
            // Display toastr notification
            toastr.options.timeOut = 10000; // 10 seconds
            toastr.success(message);
        }
    });
</script>
<style>
    .password-placeholder {
        cursor: pointer;
        /* Add any additional styling you want for the placeholder */
    }
</style>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<!-- Include Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!-- Include DataTables CSS -->
<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />
<!-- Include DataTables Responsive CSS -->
<link href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" rel="stylesheet" />
<body>
    <div>
        @Html.Raw(ViewBag.msg)
    </div>
    <table id="reviewTable" class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserStatusId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserStatusId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>*@
                <td>
                    <div class="password-field">
                        <span class="password-placeholder" data-password="@item.Password">🔒</span>
                        <span class="password-text" style="display:none;">@item.Password</span>
                    </div>
                </td>

                <td>

                    <a href="@Url.Action("Edit","User", new { id = item.UserId })" class="btn btn-primary" title="Edit">
                        <i class="fas fa-edit">  Edit </i>
                    </a>
                    <a href="@Url.Action("UserDetails","User", new { id = item.UserId })" class="btn btn-info" title="Details">
                        <i class="fas fa-info-circle">  Details </i>
                    </a>

                    <a href="@Url.Action("DeleteUser", new { id = item.UserId })" class="btn btn-danger" title="Delete">
                        <i class="fas fa-trash-alt">  Delete </i>
                    </a>
                </td>

            </tr>
        }

    </table>

    <script>
        var $j = jQuery.noConflict(); // Use $j instead of $ to avoid conflicts

        $j(document).ready(function () {
            $j('#reviewTable').DataTable({
                responsive: true
            });
        });
    </script>

    <!-- Include DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <!-- Include DataTables Responsive JS -->
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>

</body>